@font-face
{
  font-family:"SFCompactDisplay-Ultralight";
  src: url('../../public/fuentes/SF-Compact-Display-Light.otf');
}

html,body {
  height: 100%;
  font-family:"SFCompactDisplay-Ultralight";
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden !important;
  
}
#container {
  display: flex;
  height: 100%;
  min-height: 0;
  background-color: #e8ebf0;
  
}
#contenido { 
  width: 100%;
  height: 100%;
  min-height: 0;
  background-color: #e8ebf0;
  
}

.menu {
  height: 52px;
}

.item {
  display: flex;
  height: 70px;
  width: 100%; 
  background-color: white; 
  font-size: 18px;
  border-bottom: 1px solid rgba(232, 235, 240, 0.6);
  justify-content: center;
  align-items: center;
}
.item_name 
{
   display: flex;
   height: 100%;
   justify-content: flex-start;
   align-items: center;
   padding-left: 5px;
   font-weight: bold;
   color: rgb(52, 52, 52);
   flex: 6;
   
}
.item_quantity
{
  display: flex;
  margin-right: 5px;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.item_quantity input 
{
  width: 100px;
  font-size: 17px;
  font-weight: bold;
  text-align: right;
}
.item_remove
{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.item_price
{
  background-color: green;
  height: 40px;
  float: right;
  width: 100px;
}

#left {
  
  height: 100%;
  width: 100%; 
}
#left-search 
{
  width: 100%;
  float: left; 
  padding: 20px;
}
#left-search  input 
{
   width: 98%;
}
#left-products 
{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: 70%;
  padding-bottom: 20px;

}

.product 
{
  width: 100%;
   height: 120px;
   background-color: white;
   margin: 6px;
   display: flex;
   align-items: stretch;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   border-radius: 15px;
   transition: all 700ms; 
   position: relative;
}
.agotado
{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 12;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #ff0404; 
  font-size: 30px; 
}
input.restaltar {
  border:3px solid red;
}
.product:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.product_content_image 
{
  width: 120px;
  height: 120px;
  border-radius: 15px;
  background-color: lightblue;
}
.product_image 
{
  width: 120px;
  height: 120px;
  border-radius: 15px 0px 0px 15px;
  background-color: lightskyblue;
  flex-grow: 1;
}
.product_name
{
  flex-grow: 8;
  padding: 5px;
  font-family:"SFCompactDisplay-Ultralight";
  text-align: left;
  text-transform: uppercase;
  align-items: center;
  display: flex;
}
.item_name
{
  font-family:"SFCompactDisplay-Ultralight";
  text-transform: uppercase; 
  height: 40px;
  font-size: 14px;
}
.product_pass
{
   display: flex;
   width: 100px;
   height: 100%;
   justify-content: center;
   align-items: center;
   background-color: rgb(237, 237, 237);
   border-radius: 0px 10px 10px 0px;
}
.data_product
{ 
   width: 100px;
   height: 100%; 
}
.data_product_quantity
{
    width: 100%;
    height: 50%;
    float: left;
    padding-right: 4px;

}
.data_product_price
{
    width: 100%;
    height: 50%;
    float: left;
    padding-right: 4px;
}
.data_product
{
    font-size: 10px;
    padding: 0;
    margin: 0;
}
#efectivo
{
  font-size: 17px;
  font-weight: bold;
  text-align: right;
}
.click
{
  cursor: pointer;
}
.infoProducto 
{
  font-size: 11px; 
   width: 100%;
   float: left;
}
.infoCantidad
{
    float: right;
}
.lbCantidad
{
    float: left;
}
.data_product input
{ 
    padding: 0;
    margin: 0;
    height: auto;
    padding-left: 4px;
    font-size: 18px;
    font-weight: bold;
}
.product_quantity input, .product_price input 
{
  width: 50px;
}
.product_image img 
{
   width: 100%;
   height: 100%;
   border-radius: 10px 0px 0px 10px;
}
#right {
  height: 100%;
  width: 35%;  
  background-color: white;
}
#right_header {
  padding: 0 1rem .2rem;
  color: #fff;
  background-color: #4d6598;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}
#right_header-triangulo {
  width: 100%;
  height: 7px;
  display: block;
  background: url(../images/triangulo.svg) repeat 0 0;
}
#right_client {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(232,235,240,.6);
}
#right_client-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 4rem;
  flex: 0 0 4rem;
  height: 100%;
  color: #809bb6;
  justify-content: center;
  align-items: center;
  display: flex;

}
#right_client-input {
  height: 100%;
  width: 80%;
  margin: 0 0 0 1rem;
  color: #809bb6;

}
#right_client-button, #right_client-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  color: #809bb6;
  border: none;

  justify-content: center;
  align-items: center;
  display: flex;
}
#invoice__content {
  position: relative;
}
#right_content 
{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
#right_summary {
  width: 100%;
  bottom: 0;
  background-color: rgba(232,235,240,.6);
}
#right_cancel_sale {
  width: 100%;
  bottom: 0;
  float: left;
  background-color: rgba(254, 58, 54, 0.6); 
}
#right_cancel_sale.disabled {  
  background-color: #adb5bd;
}
#right_cancel_sale i 
{
  float: right;
  text-align: right;
  
}

.has-search 
{
  float: left;
  width: 85%;
  margin-top: 40px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}
.i_trash
{
  transition: all 700ms;
  font-size: 48px; 
}
.i_disabled
{
   color: gray;
}
.i_enabled
{
  
  color: white;
}

.outlineAnimate { 
  outline: 2px solid red !important;
  animation: outlineAnimate 3s infinite;
}
@keyframes outlineAnimate {
  0% {
    outline-color: yellow;
 }
  50% {
     outline-color: orangered;
  }
  0% {
    outline-color: rgb(95, 224, 36);
 }
}
#responseUltimasVentas
{
  width: 100%; 
  float: left;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  height: 75%;
}
span.k-select {
  width: 40px !important;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
 
}
#infoTrabajador
{
    border-radius: 0px 0px 4px 0px;
    padding: 5px;
    background-color: rgb(243, 62, 62);
    display:inline-block;
    position: absolute;
    font-weight: bold;
    color: white;
    display: none;
    font-family:"SFCompactDisplay-Ultralight";
}
#borrar_input
{
   width: 7%;
   height: 35px; 
   float: left;
   cursor: pointer;
   margin-top: 40px; 
}
#producto_externo
{
   width: 7%;
   height: 35px; 
   float: left;
   cursor: pointer; 
   margin-top: 40px; 
}
#borrar_input i
{
   margin-top: 4px;
}
#sale
{
  display: flex;
  width: 100%;
  height: 60px; 
  padding: 5px;
  color: white;
  background-color: #3c7afc; 
}
#sale.disabled
{
  background-color: #c6d0e4;
}
#sale_title
{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-grow: 2;
   padding-left: 5px;
   font-size: 1.5rem;
   text-transform: uppercase;
}
#sale_total
{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
}
#menu ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3c7afc;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#menu li a:hover {
  background-color: #3057a7;
}
#fullPage
{
	background-color:rgba(0,0,0,0.9);
    opacity: 0.9;
    z-index: 9999999999;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    position: fixed;  
	display: none;

}

#loader-wrapper {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999;
    background-color: rgba(255, 255, 255,0.7);
}
  
/*loader*/
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c1272d; /**amarillo/
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  
  #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  
  #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f69390;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);
      /* IE 9 */
      transform: rotate(0deg);
      /* Firefox 16+, IE 10+, Opera */
    }
    100% {
      -webkit-transform: rotate(360deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);
      /* IE 9 */
      transform: rotate(360deg);
      /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);
      /* IE 9 */
      transform: rotate(0deg);
      /* Firefox 16+, IE 10+, Opera */
    }
    100% {
      -webkit-transform: rotate(360deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);
      /* IE 9 */
      transform: rotate(360deg);
      /* Firefox 16+, IE 10+, Opera */
    }
  }
  .icon.md-search {
    margin-bottom: 4px !important;
}
span.input-group-btn {
    height: 27.4px !important;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.bell_animation
{ 
    -webkit-animation: ring 5s 1s ease-in-out infinite;
	-webkit-transform-origin: 50% 4px;
	-moz-animation: ring 5s 1s ease-in-out infinite ;
	-moz-transform-origin: 50% 4px;
	animation: ring 5s 1s ease-in-out infinite;
	transform-origin: 50% 4px;
}
@-webkit-keyframes ring {
	0% { -webkit-transform: rotateZ(0); }
	1% { -webkit-transform: rotateZ(30deg); }
	3% { -webkit-transform: rotateZ(-28deg); }
	5% { -webkit-transform: rotateZ(34deg); }
	7% { -webkit-transform: rotateZ(-32deg); }
	9% { -webkit-transform: rotateZ(30deg); }
	11% { -webkit-transform: rotateZ(-28deg); }
	13% { -webkit-transform: rotateZ(26deg); }
	15% { -webkit-transform: rotateZ(-24deg); }
	17% { -webkit-transform: rotateZ(22deg); }
	19% { -webkit-transform: rotateZ(-20deg); }
	21% { -webkit-transform: rotateZ(18deg); }
	23% { -webkit-transform: rotateZ(-16deg); }
	25% { -webkit-transform: rotateZ(14deg); }
	27% { -webkit-transform: rotateZ(-12deg); }
	29% { -webkit-transform: rotateZ(10deg); }
	31% { -webkit-transform: rotateZ(-8deg); }
	33% { -webkit-transform: rotateZ(6deg); }
	35% { -webkit-transform: rotateZ(-4deg); }
	37% { -webkit-transform: rotateZ(2deg); }
	39% { -webkit-transform: rotateZ(-1deg); }
	41% { -webkit-transform: rotateZ(1deg); }

	43% { -webkit-transform: rotateZ(0); }
	100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
	0% { -moz-transform: rotate(0); }
	1% { -moz-transform: rotate(30deg); }
	3% { -moz-transform: rotate(-28deg); }
	5% { -moz-transform: rotate(34deg); }
	7% { -moz-transform: rotate(-32deg); }
	9% { -moz-transform: rotate(30deg); }
	11% { -moz-transform: rotate(-28deg); }
	13% { -moz-transform: rotate(26deg); }
	15% { -moz-transform: rotate(-24deg); }
	17% { -moz-transform: rotate(22deg); }
	19% { -moz-transform: rotate(-20deg); }
	21% { -moz-transform: rotate(18deg); }
	23% { -moz-transform: rotate(-16deg); }
	25% { -moz-transform: rotate(14deg); }
	27% { -moz-transform: rotate(-12deg); }
	29% { -moz-transform: rotate(10deg); }
	31% { -moz-transform: rotate(-8deg); }
	33% { -moz-transform: rotate(6deg); }
	35% { -moz-transform: rotate(-4deg); }
	37% { -moz-transform: rotate(2deg); }
	39% { -moz-transform: rotate(-1deg); }
	41% { -moz-transform: rotate(1deg); }

	43% { -moz-transform: rotate(0); }
	100% { -moz-transform: rotate(0); }
}

@keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(30deg); }
	3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	9% { transform: rotate(30deg); }
	11% { transform: rotate(-28deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }

	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
}