ol
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
.ketchup-error-container
{
    display: block;
    position: absolute;
    width: auto  !important;
    z-index: 999999999;
}
.ketchup-error-container ol
{
    font-size: 12px;
    color: #fff;
    min-width: 160px;
    background: rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    list-style: none;
    line-height: 16px;
}
.ketchup-error-container span
{
    display: block;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid transparent;
    border-bottom-left-radius: 25px; 
    border-top: 10px solid rgba(0,0,0,0.75);
    border-bottom: 0;
    margin-left: 10px;
    margin-top: 0px;
}
.ketchup-error-container:hover
{
    cursor: pointer;
}
.notFilled
{
    border: 2px solid #f00;
    background: #f99;
}
.container-field
{
    position: relative;
}
.container-icon 
{
    position: absolute !important;
    right: 0;
    text-align: center;
    top: 0;
}
.container-message
{
    position: relative;
    color:#db3f37;
}